@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 35em) {
  .container {
    max-width: 100vw;
  }
  .container .col-1-sm {
    width: 8.2416666667%;
  }
  .container .col-2-sm {
    width: 16.5833333333%;
  }
  .container .col-3-sm {
    width: 24.925%;
  }
  .container .col-4-sm {
    width: 33.2666666667%;
  }
  .container .col-5-sm {
    width: 41.6083333333%;
  }
  .container .col-6-sm {
    width: 49.95%;
  }
  .container .col-7-sm {
    width: 58.2916666667%;
  }
  .container .col-8-sm {
    width: 66.6333333333%;
  }
  .container .col-9-sm {
    width: 74.975%;
  }
  .container .col-10-sm {
    width: 83.3166666667%;
  }
  .container .col-11-sm {
    width: 91.6583333333%;
  }
  .container .col-12-sm {
    width: 100%;
  }
}
@media only screen and (min-width: 61.5em) {
  .container {
    max-width: 100vw;
  }
}

.row {
  width: 100%;
}

.row--centered {
  align-items: center;
}

.row [class^="col"] {
  min-height: 0.10rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 49em) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .col-1 {
    width: 8.2416666667%;
  }

  .col-2 {
    width: 16.5833333333%;
  }

  .col-3 {
    width: 24.925%;
  }

  .col-4 {
    width: 33.2666666667%;
  }

  .col-5 {
    width: 41.6083333333%;
  }

  .col-6 {
    width: 49.95%;
  }

  .col-7 {
    width: 58.2916666667%;
  }

  .col-8 {
    width: 66.6333333333%;
  }

  .col-9 {
    width: 74.975%;
  }

  .col-10 {
    width: 83.3166666667%;
  }

  .col-11 {
    width: 91.6583333333%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.2em;
  letter-spacing: .1em;
}

p {
  color: #848789;
}

body {
  overflow-x: hidden;
}

.nav-menu {
  position: relative;
}
.nav-menu a {
  font-weight: 700;
  text-decoration-line: none;
  color: #4d4959;
}
.nav-menu a:hover {
  color: #64c29e;
  cursor: pointer;
}
.nav-menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav-menu__item {
  padding: 2%;
}
.nav-menu__item_left {
  padding-right: 5%;
}
.nav-menu__item_right {
  padding-left: 5%;
}

.fa-bars {
  display: none;
}

.nav-img {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
.nav-img img {
  width: 100vw;
}

.article-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  background: #f7f7f7;
  width: 100vw;
}
.article-about-item {
  padding: 1% 9%;
}
.article-about__content {
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.one-block_left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.one-block__item-img {
  position: relative;
}
.one-block__item-img::after {
  content: "";
  width: 16%;
  height: 24%;
  background-image: url("../img/004-001-000.png");
  background-size: cover;
  position: absolute;
  top: 39%;
  left: 31%;
  z-index: 1;
}
.one-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 10%;
}
.one-block__item-title_right-img {
  padding: 2%;
}
.one-block__item-title_right-title {
  padding: 3%;
}
.one-block__item-title_right-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.one-block__item-title_right-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.two-block_right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.two-block__item-img {
  position: relative;
}
.two-block__item-img::after {
  content: "";
  width: 22%;
  height: 25%;
  background-image: url("../img/004-002-000.png");
  background-size: cover;
  position: absolute;
  top: 36%;
  left: 42%;
  z-index: 1;
}
.two-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 18%;
}
.two-block__item-title_left-img {
  padding: 2%;
}
.two-block__item-title_left-title {
  padding: 3%;
}
.two-block__item-title_left-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.two-block__item-title_left-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.three-block_left {
  position: relative;
}
.three-block_left::after {
  content: "";
  position: absolute;
  background-image: url("../img/004-003-000.png");
  background-size: cover;
  width: 39%;
  height: 11%;
  top: 41%;
  left: 31%;
  z-index: 1;
}
.three-block_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.three-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 18%;
}
.three-block__item-title_center-img {
  padding: 2%;
}
.three-block__item-title_center-title {
  padding: 3%;
}
.three-block__item-title_center-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.three-block__item-title_center-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.feedback-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  background: #f7f7f7;
  width: 100vw;
}
.feedback-about-item {
  padding: 1% 9%;
}
.feedback-about__comment {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
}
.feedback-about__slide {
  padding-top: 10%;
}

.shopBlock {
  display: grid;
  height: inherit;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b h c d d" "e e h c k m";
}
.shopBlock-img_one {
  grid-area: a;
}
.shopBlock-img_two {
  grid-area: b;
}
.shopBlock-img_three {
  grid-area: h;
}
.shopBlock-img_four {
  grid-area: c;
}
.shopBlock-img_five {
  grid-area: d;
  position: relative;
}
.shopBlock-img_five::before {
  display: block;
  width: 10%;
  position: absolute;
}
.shopBlock-img_six {
  grid-area: e;
}
.shopBlock-img_seven {
  grid-area: k;
}
.shopBlock-img_eight {
  grid-area: m;
}

.shopImg {
  height: inherit;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: black;
}
.search-input_line {
  width: 25%;
  height: 3em;
}

.block-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em;
}
.block-search_title {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
}
.block-search_email {
  display: flex;
  position: relative;
}
.block-search_email-line {
  position: relative;
  margin-top: 1em;
  height: 3em;
  width: 18em;
  border: 1px solid white;
}
.block-search_email-line::placeholder {
  opacity: .5;
  font-style: italic;
}
.block-search_email-button {
  display: block;
  border-color: white;
  position: absolute;
  top: 13px;
  left: 234px;
  width: 5em;
  height: 3em;
  color: white;
  background-color: #64c29e;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin: 2em;
  font-size: .7em;
}
.footer-address p {
  margin-left: 20%;
}
.footer-address p:first-child {
  font-weight: bold;
}

.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social a {
  margin-right: 2em;
}
.footer-social a:first-child {
  width: 35px;
  height: 34px;
  background-image: url("../img/008-002-002.png");
}
.footer-social a:nth-child(2) {
  width: 35px;
  height: 34px;
  background-image: url("../img/008-002-001.png");
}
.footer-social a:last-child {
  width: 35px;
  height: 34px;
  background-image: url("../img/008-002-000.png");
}

.container {
  width: 100vw;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 35em) and (max-width: 49em) {
  nav {
    position: relative;
  }
  nav .nav-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
  }
  nav .nav-menu:hover .menu-list {
    display: block;
  }
  nav .nav-menu-list {
    margin-bottom: 30%;
  }
  nav .nav-menu__item_left {
    display: none;
  }
  nav .nav-menu__item_right {
    display: none;
  }
  nav .nav-menu__item-logo {
    margin: .7em;
  }
  nav .nav-menu .fa-bars {
    height: 100%;
    display: flex;
    font-size: 2em;
    padding: 0.4em 1.5em 0 0;
    color: #64c29e;
    background: #d9d4dd;
  }
  nav .nav-menu .fa-bars:hover {
    color: chartreuse;
  }
  nav .button-list {
    height: 100%;
    margin-top: 1em;
    border: none;
  }

  .shopBlock {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a b h" "e e h" "c d d" "c k m";
  }
  .shopBlock-img_one {
    grid-area: a;
  }
  .shopBlock-img_two {
    grid-area: b;
  }
  .shopBlock-img_three {
    grid-area: h;
  }
  .shopBlock-img_four {
    grid-area: c;
  }
  .shopBlock-img_five {
    grid-area: d;
  }
  .shopBlock-img_six {
    grid-area: e;
  }
  .shopBlock-img_seven {
    grid-area: k;
  }
  .shopBlock-img_eight {
    grid-area: m;
  }

  .shopImg {
    height: inherit;
  }
}
@media only screen and (max-width: 35em) {
  .nav-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
    margin-bottom: -4%;
  }
  .nav-menu-list {
    margin-bottom: 30%;
  }
  .nav-menu__item_left {
    display: none;
  }
  .nav-menu__item_right {
    display: none;
  }
  .nav-menu__item-logo {
    margin: .7em;
  }
  .nav-menu__item-logo img {
    max-width: 80%;
  }
  .nav-menu .fa-bars {
    height: 100%;
    display: flex;
    font-size: 2em;
    padding: 0 0.4em 0 0;
    color: #64c29e;
    background: #d9d4dd;
  }
  .nav-menu .fa-bars:hover {
    color: chartreuse;
  }

  .button-list {
    height: 100%;
    margin: 2em;
    border: none;
  }
  .button-list ~ .nav-menu-list {
    display: block;
  }

  .shopBlock {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas: "a b" "e e" "h c" "h c" "d d" "k m";
  }
  .shopBlock-img_one {
    grid-area: a;
  }
  .shopBlock-img_two {
    grid-area: b;
  }
  .shopBlock-img_three {
    grid-area: h;
  }
  .shopBlock-img_four {
    grid-area: c;
  }
  .shopBlock-img_five {
    grid-area: d;
  }
  .shopBlock-img_six {
    grid-area: e;
  }
  .shopBlock-img_seven {
    grid-area: k;
  }
  .shopBlock-img_eight {
    grid-area: m;
  }

  .shopImg {
    height: inherit;
  }

  .footer-address > p {
    margin-left: 33%;
  }
}
@media only screen and (min-width: 61.5em) {
  .nav-menu {
    margin-bottom: 33%;
  }

  .fa-bars {
    font-size: 2em;
  }
}
@media only screen and (min-width: 49em) and (max-width: 61.5em) {
  .nav-menu {
    margin-bottom: 33%;
  }

  .three-block__item-title {
    padding: 5% 3% 10%;
  }
  .three-block__item-title_center-text {
    font-size: 0.7em;
  }

  .shopBlock {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas: "a b h c" "e e h c" "d d k m";
  }
  .shopBlock-img_one {
    grid-area: a;
  }
  .shopBlock-img_two {
    grid-area: b;
  }
  .shopBlock-img_three {
    grid-area: h;
  }
  .shopBlock-img_four {
    grid-area: c;
  }
  .shopBlock-img_five {
    grid-area: d;
  }
  .shopBlock-img_six {
    grid-area: e;
  }
  .shopBlock-img_seven {
    grid-area: k;
  }
  .shopBlock-img_eight {
    grid-area: m;
  }

  .shopImg {
    height: inherit;
  }
}
