@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.2em;
  letter-spacing: .1em;
}

p {
  color: #848789;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 35em) {
  .container {
    max-width: 100vw;
  }
  .container .col-1-sm {
    width: 8.2416666667%;
  }
  .container .col-2-sm {
    width: 16.5833333333%;
  }
  .container .col-3-sm {
    width: 24.925%;
  }
  .container .col-4-sm {
    width: 33.2666666667%;
  }
  .container .col-5-sm {
    width: 41.6083333333%;
  }
  .container .col-6-sm {
    width: 49.95%;
  }
  .container .col-7-sm {
    width: 58.2916666667%;
  }
  .container .col-8-sm {
    width: 66.6333333333%;
  }
  .container .col-9-sm {
    width: 74.975%;
  }
  .container .col-10-sm {
    width: 83.3166666667%;
  }
  .container .col-11-sm {
    width: 91.6583333333%;
  }
  .container .col-12-sm {
    width: 100%;
  }
}
@media only screen and (min-width: 61.5em) {
  .container {
    max-width: 100vw;
  }
}

.row {
  width: 100%;
}

.row--centered {
  align-items: center;
}

.row [class^="col"] {
  min-height: 0.10rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 49em) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .col-1 {
    width: 8.2416666667%;
  }

  .col-2 {
    width: 16.5833333333%;
  }

  .col-3 {
    width: 24.925%;
  }

  .col-4 {
    width: 33.2666666667%;
  }

  .col-5 {
    width: 41.6083333333%;
  }

  .col-6 {
    width: 49.95%;
  }

  .col-7 {
    width: 58.2916666667%;
  }

  .col-8 {
    width: 66.6333333333%;
  }

  .col-9 {
    width: 74.975%;
  }

  .col-10 {
    width: 83.3166666667%;
  }

  .col-11 {
    width: 91.6583333333%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}
.container {
  width: 100vw;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 35em) and (max-width: 49em) {
  nav {
    position: relative;
  }
  nav .nav-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  nav .nav-menu__list {
    margin-bottom: 35%;
  }
  nav .nav-menu__item_left {
    display: none;
  }
  nav .nav-menu__item_right {
    display: none;
  }
  nav .nav-menu .fa-bars {
    height: 100%;
    display: flex;
    font-size: 2em;
    color: #64c29e;
    background: #d9d4dd;
  }
  nav .nav-menu .fa-bars:hover {
    color: chartreuse;
  }
  nav .button-list {
    height: 100%;
    margin-top: 1em;
    border: none;
  }
}
@media only screen and (max-width: 35em) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .nav-menu__list {
    margin-bottom: 30%;
  }
  .nav-menu__item img {
    max-width: 70%;
  }
  .nav-menu__item_left {
    display: none;
  }
  .nav-menu__item_right {
    display: none;
  }
  .nav-menu .fa-bars {
    height: 100%;
    display: flex;
    font-size: 2em;
    color: #64c29e;
    background: #d9d4dd;
  }
  .nav-menu .fa-bars:hover {
    color: chartreuse;
  }

  .button-list {
    height: 100%;
    margin-top: 1em;
    border: none;
  }
}
@media only screen and (min-width: 61.5em) {
  .nav-menu {
    margin-bottom: 33%;
  }
}
@media only screen and (min-width: 49em) and (max-width: 61.5em) {
  .nav-menu {
    margin-bottom: 33%;
  }
}
body {
  overflow-x: hidden;
}

.nav-menu {
  position: relative;
}
.nav-menu a {
  font-weight: 700;
  text-decoration-line: none;
  color: #4d4959;
}
.nav-menu a:hover {
  color: #64c29e;
  cursor: pointer;
}
.nav-menu__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav-menu__item {
  padding: 2%;
}
.nav-menu__item_left {
  padding-right: 5%;
}
.nav-menu__item_right {
  padding-left: 5%;
}

.fa-bars {
  display: none;
}

.nav-img {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
.nav-img img {
  width: 100vw;
}

.article-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  background: #f7f7f7;
  width: 100vw;
}
.article-about-item {
  padding: 1% 9%;
}
.article-about__content {
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.one-block_left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.one-block__item-img {
  position: relative;
}
.one-block__item-img::after {
  content: "";
  width: 16%;
  height: 24%;
  background-image: url("../img/004-001-000.png");
  background-size: cover;
  position: absolute;
  top: 39%;
  left: 31%;
  z-index: 1;
}
.one-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 10%;
}
.one-block__item-title_right-img {
  padding: 2%;
}
.one-block__item-title_right-title {
  padding: 3%;
}
.one-block__item-title_right-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.one-block__item-title_right-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.two-block_right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.two-block__item-img {
  position: relative;
}
.two-block__item-img::after {
  content: "";
  width: 22%;
  height: 25%;
  background-image: url("../img/004-002-000.png");
  background-size: cover;
  position: absolute;
  top: 36%;
  left: 42%;
  z-index: 1;
}
.two-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 18%;
}
.two-block__item-title_left-img {
  padding: 2%;
}
.two-block__item-title_left-title {
  padding: 3%;
}
.two-block__item-title_left-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.two-block__item-title_left-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.three-block_left {
  position: relative;
}
.three-block_left::after {
  content: "";
  position: absolute;
  background-image: url("../img/004-003-000.png");
  background-size: cover;
  width: 39%;
  height: 11%;
  top: 41%;
  left: 31%;
  z-index: 1;
}
.three-block_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.three-block__item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3% 18%;
}
.three-block__item-title_center-img {
  padding: 2%;
}
.three-block__item-title_center-title {
  padding: 3%;
}
.three-block__item-title_center-text {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 0.8em;
}
.three-block__item-title_center-text::after {
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  border-bottom: 1px solid black;
  top: 100%;
  left: 44%;
}

.feedback-about {
  display: flex;
}
