

$navcolor: #4d4959;
$about-bg: #f7f7f7;
$logo-color: #64c29e;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}

h1{
  font-size: 1.2em;
  letter-spacing: .1em;
}
p{
  color: #848789;
}
